---
// Import all components
import CTABlock from "../molecules/CTA-Block.astro"
import Arrow from "../atoms/Arrow.astro"
---

<section id="cta-section">
    <header>
        <span class="label">Label</span>
        <h1>Mandatory title about the <span>call-to-action</span> here</h1>
    </header>

    <p>Optional body copy goes here.</p>

    <a href="#" class="optional-button">
        Optional button <Arrow color="var(--dark-orange" />
    </a>

    <div class="cta-wrapper">
        <CTABlock />
        <CTABlock />
    </div>
</section>

<style>
    #cta-section {
        margin: auto;
        min-height: 100vh;
        height: fit-content;

        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        header {
            gap: 8px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .label {
                font-size: 15px;
                color: var(--green-gray);
            }

            h1 {
                max-width: 20ch;
                text-align: center;
                color: var(--black);

                span {
                    font-weight: 500;
                    font-size: inherit;
                    font-family: "GT Alpina";
                }
            }
        }

        > p {
            opacity: 80%;
            margin: 24px 0;
            color: var(--charcoal);
        }

        .optional-button {  
            display: flex;
            color: var(--dark-orange); 

            svg {
                margin-left: 4px;
            }
        }

        .cta-wrapper {
            gap: 24px;
            display: flex;
            margin-top: 80px;
            width: 100%;
            max-width: 1312px;

            /* Mobile */
            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
    }
</style>