---
// Import all the sections for this page
import SectionCTA from "./components/organisms/Section-CTA.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/leapforce-icon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Case voor Leapforce | Tygo Wolven</title>
	</head>
	<body>
		<SectionCTA />
	</body>
</html>
