---
// Import the global CSS file:
import "../styles/global.css";

// Import all the sections for this page:
import CTASection from "./components/organisms/CTA-Section.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpg" href="/images/leapforce-icon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Case voor Leapforce | Tygo Wolven</title>
	</head>
	<body>
		<CTASection />
	</body>
</html>
